*{
    margin: 0px;
    font-family: 'Inter';
}

#cabecalho {
    color: white;
    background-image: url(img/cabecalho.svg);
    padding: 50px;

    
}
#titulo-cabecalho {
    margin: 180px 0 50px 65px;
    font-size: 50px;
    


}

#texto-cabecalho {
    margin:10px 50px 15px 65px;
    padding-bottom: 60px;
  }

  #menu-informacional {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 70px;
  }

  #menu-foto {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
  }
  #texto-informativo {
   margin-left: 100px;
   margin-right: 150px;
   margin-top: 200px;
   
   
  }

  #foto {
    margin-right: 240px;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 500px;
  }

  #formulario {
    text-align: center;
    background-color: #303030;
  }
  #titulo-formulario {
    font-size: 25px;
    padding: 50px;
    color: #FFFFFF;
  }
  input {
    width: 300px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 15px;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
  }

  button {
    background-color: #C07212;
    width: 170px;
    height: 45px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-bottom: 100px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
    }

    button:hover {
        background-color: #d29953;
        color: white;
        transform: translateY(-7s);
        box-shadow:  0px 15px 20px #24221f;
        transition-duration: 0.5s;
    }